.banner1-article1{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(21, 67, 96,.7 ), rgba(31, 97, 141,.9 )), url(./imgs/sorasak-KxCJXXGsv9I-unsplash.jpg);
    background-size:cover;
}
.banner__article1__section1-h2{
    color:#eee;
    font-size:28px;
}
.banner__article1__section1-p{
    font-size:18px;
    color:#eee;
}
.banner__article1-section1{

    animation:banner1Section1 2s linear 1;
}

@keyframes banner1Section1{
    0%{
        transform:translateY(50px);
        opacity:0;
    }
    50%{
        transform:translateY(0);
        opacity:unset;
    }
}









@media screen and (min-width:1026px){
    .banner__article1-section1{
        width:1000px;
    }
    .banner__article1-section1 > h2{
        font-size:60px;
        text-shadow:1px 2px 2px rgba(0,0,0,.4);
    }
    .banner__article1-section1 > p{
        font-size: 23px;
    }

    ::-webkit-scrollbar{
        width:11px;
        background:rgba(31, 97, 141,.9 );
    }
    ::-webkit-scrollbar-thumb{
        background:#eee;
        border-radius:20rem;
        border:3px solid rgba(31, 97, 141,.9 );
    }
    
}