
.footer-container{
    background:#283747;
}
.footer-content-1 > p{
    text-align: left;
}
form{
    background:#fff;
    display:flex;
    justify-content: space-between;
    border-radius:20px;
    padding:0 0px;
}

.form-control{
    padding-left:25px;
    border-radius:20px 0px 0px 20px;
}
.btn-f{
    border-radius:0 20px 20px 0;
}

li{
    list-style:inside;
    margin-top: 10px;
}
li > a{
    text-decoration: none;
    font-size:17px;
    color:#eee;
}

li > a:hover{
    color:#5499C7;
}


.contact-me-content > li{
    list-style: none;

}

.contact-me-content li div{
    display:flex;
    justify-content: space-around;
}
.contact-me-content li div > i{
    font-size:25px;
    background:rgba(225,255,255,.4);
    border-radius:20rem;
    padding:8px;

}


.copyRight{
    color:#fff;
    background:#1C2833 ;
    
}
.copyRight > h2{
    font-size:15px;
}
.copyRight > h3{
    font-size: 10px;
}









/*media queries*/

@media screen and (min-width:750px){
    .footer{
        padding:15px;
    }
    #ul-Content{
        display:flex;
    }
    #ul-Content ul > h2{
        font-size:18px;
    }
    #ul-Content ul li >p{
        text-align: left;
        width: 200px;
    }






    #redes{
        display: flex;
        justify-content: center;
        justify-content: flex-start;
    }
}





@media screen and (min-width:820px){
    .copyRight{
        margin-left:-15px;
        width:100vw;
    }
}


@media screen and (min-width:1026px){
    .copyRight{
        background:none;
        width:101%;
    }
    .footer-content-desktop{
        display:flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}




