.body{
    overflow-y:hidden;
}
header{
    
    position:fixed;
    height:100px;
    width:100%;
    display: flex;
    align-items: center;
    padding-left:20px;
    color:#eee;
    transition:all 1s;
    z-index: 99;
}
.sticky{
    background:rgba(31, 97, 141 );
    height:90px;
}
.navbar{
    background:#262626;
    position:fixed;
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    left:-450px;
    transition:all 1s;
    top:0;
    overflow-y:block;
}
.change{
    left:0;
    z-index: 100;
}
.header__navbar-ul{

    width:80%;
    height:80%;
    display: grid;
    justify-content: center;
}
.header__navbar-ul li{
    list-style:none;
    margin-top:30px;
}
.header__navbar-ul li > a{
    text-decoration:none;
    font-size:25px;
    color:#eee;
    
}

.hamburger-menu{
    width:35px;
    height:30px;
    position:fixed;
    top:35px;
    right:35px;
    cursor:pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index:99;
}

.line{
    width:100%;
    height:3px;
    background:#eee;
    transition: all 1s;
}


.change .line-1{
    background:#fff;
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2{
    
    opacity:0;
}
.change .line-3{
    background:#fff;
    transform:rotateZ(405deg) translate(-8px, -6px);
}

/*drop Down*/
.drop{
    font-size:21px;
    box-shadow:none;
    border:none;
    outline: none;
    background:none;
}
.dda{
    font-size:15px;
}


















/*media squeries*/
@media screen and (min-width:750px){
    .hamburger-menu{
        display:none;
    }
    header{
        background:none;
    }

    .navbar{
        width:100%;
        max-height:90px;
        left:0;
        transition:all 0s;
        background:rgba(31, 97, 141 );

    }
    .header__navbar-ul{

        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__navbar-ul li >a{
        font-size:15px;
    }
    #dropdownMenuButton1{
        font-size: 15px;;
    }
}




@media screen and (min-width:1026px){
    .navbar ul li > a{
        font-size:21px;
    }

    .navbar ul li > a::before{
        content: '';
        display:block;
        background:#eee;
        width:0px;
        height:3px;
        position: absolute;
        top:70px;
        border-radius:20rem;
        transition:all 0.5s;
    }
    .navbar ul li > a:hover::before{
        width:100px;
        
    }
    #dropdownMenuButton1{
        font-size:21px;
    }
    

}